[submodule "Gmaz_etal_submitted/vStrCueCodingPaper"]
	path = Gmaz_etal_submitted/vStrCueCodingPaper
	url = https://github.com/jgmaz/vStrCueCodingPaper
[submodule "Gmaz_etal_2018/vStrCueCodingPaper"]
	path = Gmaz_etal_2018/vStrCueCodingPaper
	url = https://github.com/jgmaz/vStrCueCodingPaper/
[submodule "Gmaz&vanderMeer_2022/vStrBiconditionalOdorPaper"]
	path = Gmaz&vanderMeer_2022/vStrBiconditionalOdorPaper
	url = https://github.com/jgmaz/vStrBiconditionalOdorPaper/
[submodule "Gmaz_vanderMeer_2022"]
	path = Gmaz_vanderMeer_2022
	url = https://github.com/jgmaz/vStrBiconditionalOdorPaper.git
